* { box-sizing: border-box; margin: 0; padding: 0; }

html { font-size: 16px; }

body{
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background:#f5f6f8;
  color: var(--cor-texto);
  line-height:1.5;
}
